<div id="<%= dom_id person %>">
  <p>
    <strong>Reference:</strong>
    <%= person.reference %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

  <p>
    <strong>Home phone number:</strong>
    <%= person.home_phone_number %>
  </p>

  <p>
    <strong>Mobile phone number:</strong>
    <%= person.mobile_phone_number %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= person.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= person.lastname %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= person.address %>
  </p>

</div>
