<div id="<%= dom_id building %>">
  <p>
    <strong>Reference:</strong>
    <%= building.reference %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= building.address %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= building.zip_code %>
  </p>

  <p>
    <strong>City:</strong>
    <%= building.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= building.country %>
  </p>

  <p>
    <strong>Manager name:</strong>
    <%= building.manager_name %>
  </p>

</div>
